{% extends 'base.html' %}

{% block title%}
    Home
{% endblock %}

{% block content %}
<div class="card-container">
  {% if users %}
  {% for user in users %}
  {% if user != current_user %}
  <div class="card" style="width: 18rem;">
      <div class="card-top">
          <h5>Trainer</h5>
      </div>
      <div class="card-body">
          <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
          <a href="{{url_for('main.battle', user_id=user.id)}}" class="btn btn-danger">Battle!</a>
      </div>
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  <br>
</div>
<h1><img src="{{url_for('static', filename='images/pokemonhome.png')}}" href="" alt=""></h1>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://imgs.search.brave.com/GbHTHz-ZMFp1mGfGm2oWMeSr8Hs2TPq8LFqYpgtw0Ks/rs:fit:1200:1000:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDMwMTM0/MTUuanBn" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://imgs.search.brave.com/rvV_vJIU-K4WOjHxXLaZHw3SO5GFwlLwQBKrH2Yf95k/rs:fit:1200:1080:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC8xVmw2eFdF/LmpwZw" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://imgs.search.brave.com/3ojUQlGF-n_L5DIRVy6s-EHVLE_Lb8e-dxjwEEP2HB0/rs:fit:1131:707:1/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJhY2Nlc3Mu/Y29tL2Z1bGwvODQ2/NTMuanBn" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <p class="pokemon-paragraph">Pokémon is a Japanese media franchise run by Satoshi Tajiri and it's been around since 1996.   It has been operating for more than 20 years and celebrated its 25th anniversary! It is based on fictitious "Pokémon" animals. There are toys, video games, trading card games, and TV shows around it. The actual Pokémon are animals that either live in the wild or with their owner, known as their trainer. </p>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
{% endblock %}
