{% extends 'base.html' %}

{% block title %}
Pokemon Teams
{% endblock %}

{% block content %}
<h1><img src="{{url_for('static', filename='images/pokemonteams.png')}}" href="" alt=""></h1>
 {% if team %}
  <table class="table table-sm">
      <thead>
        <tr>
          <th>Pokemon Name</th>
          <th>Pokemon Ability</th>
          <th>Pokemon Base Experience</th>
          <th>Pokemon Front Shiny</th>
          <th>Pokemon Attack Base Stat</th>
          <th>Pokemon HP Base Stat</th>
          <th>Pokemon Defense Base Stat</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          {% for pokemon in team %}
        <tr>
          <td>{{pokemon.pokemon_name}}</td>
          <td>{{pokemon.ability_name}}</td>
          <td>{{pokemon.base_experience}}</td>
          <td><img src="{{pokemon.front_shiny_url}}"></td>
          <td>{{pokemon.attack_stat}}</td>
          <td>{{pokemon.hp_stat}}</td>
          <td>{{pokemon.defense_stat}}</td>
          <td>
            <form method="POST">
              {{ form.hidden_tag() }}
              <input type="hidden" name="remove_pokemon" value="{{ pokemon.id }}">
            </form>
            <td class="last-tr"><a class="table_btns" href="{{url_for('main.remove_from_team', name=pokemon.pokemon_name)}}">Remove</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endif %}
<p class="pokemon-paragraph">Once you've gathered your team, the next thing to do is to figure out each Pokémon's move set. Each player on the team should develop a move set that not only maximizes the strength of the Pokémon but also covers their own vulnerabilities. </p>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}