{% extends 'base.html' %}

{% block title %}
Pokemon
{% endblock %}

{% block content %}
<h1><img src="{{url_for('static', filename='images/pokemonrecruit.png')}}" href="" alt=""></h1>
  <form action="{{url_for('main.pokemon')}}" method="POST">
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://imgs.search.brave.com/L3sh7_UFEE4soXtiTeZ_6vbfGR_ajcswlTUM-r9EUPY/rs:fit:1200:1000:1/g:ce/aHR0cHM6Ly9zdGF0/aWMyLmNicmltYWdl/cy5jb20vd29yZHBy/ZXNzL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIxLzAyL0FzaC1L/ZXRjaHVtLVBpa2Fj/aHUtSm91cm5leXMt/U2Vjb25kLU1vdmll/LUx1Z2lhLVBvd2Vy/LW9mLU9uZS5qcGc" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://imgs.search.brave.com/XXeEYfrFUh6cA4Wv7VPr5wqOmT7_nTxn8Mvc93noSQc/rs:fit:1200:1080:1/g:ce/aHR0cDovL2kyLmt5/bS1jZG4uY29tL3Bo/b3Rvcy9pbWFnZXMv/ZmFjZWJvb2svMDAx/LzE3MS8yOTkvOWRl/LmpwZw" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://i.ytimg.com/vi/qtGVmzCwQAw/maxresdefault.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <p class="pokemon-paragraph">It takes careful planning and teamwork to locate, find, and capture Pokémon. Investigate the area around you by paying particular attention to rusty wild grasses. Not all wild grass that is rustling is a Pokémon.</p>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
      {{form.hidden_tag()}}
      <div class="form-group">
        {{form.name.label()}}
        {{form.name(class="form-control")}}
      </div>
      {{form.submit_btn(class='btn btn-primary')}}
      <div style="color:red">
        <small>{{error}}</small>
      </div>
    </form>

  {% if pokemon_info %}
    <table class="table table-sm">
        <thead>
          <tr>
            <th>Pokemon Name</th>
            <th>Pokemon Ability</th>
            <th>Pokemon Base Experience</th>
            <th>Pokemon Front Shiny</th>
            <th>Pokemon Attack Base Stat</th>
            <th>Pokemon HP Base Stat</th>
            <th>Pokemon Defense Base Stat</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{pokemon_info["pokemon_name"]}}</td>
            <td>{{pokemon_info["ability_name"]}}</td>
            <td>{{pokemon_info["base_experience"]}}</td>
            <td><img src="{{pokemon_info['front_shiny_url']}}"></td>
            <td>{{pokemon_info["attack_stat"]}}</td>
            <td>{{pokemon_info["hp_stat"]}}</td>
            <td>{{pokemon_info["defense_stat"]}}</td>
          </tr>

        </tbody>
      </table>
      <a href="{{url_for("main.caught_pokemon",pokename=pokemon_info["pokemon_name"])}}">Catch this Pokemon</a>

  {% endif %}
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
{% endblock %}