{% extends 'base.html' %}

{% block title %}
Pokemon
{% endblock %}

{% block content %}
  <h1>Pokemon Page</h1>
  <form action="/pokemon" method="POST">
  <img src="https://imgs.search.brave.com/L3sh7_UFEE4soXtiTeZ_6vbfGR_ajcswlTUM-r9EUPY/rs:fit:1200:1000:1/g:ce/aHR0cHM6Ly9zdGF0/aWMyLmNicmltYWdl/cy5jb20vd29yZHBy/ZXNzL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIxLzAyL0FzaC1L/ZXRjaHVtLVBpa2Fj/aHUtSm91cm5leXMt/U2Vjb25kLU1vdmll/LUx1Z2lhLVBvd2Vy/LW9mLU9uZS5qcGc">
      {{form.hidden_tag()}}
      <div class="form-group">
        {{form.name.label()}}
        {{form.name(class="form-control")}}
      </div>
      {{form.submit_btn(class='btn btn-primary')}}
      <div style="color:red">
        <small>{{error}}</small>
      </div>
    </form>

  {% if pokemon_info %}
    <table class="table table-sm">
        <thead>
          <tr>
            <th>Pokemon Name</th>
            <th>Pokemon Abilitie</th>
            <th>Pokemon Base Experience</th>
            <th>Pokemon Front Shiny</th>
            <th>Pokemon Attack Base Stat</th>
            <th>Pokemon HP Base Stat</th>
            <th>Pokemon Defense Base Stat</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{pokemon_info["pokemon_name"]}}</td>
            <td>{{pokemon_info["ability_name"]}}</td>
            <td>{{pokemon_info["base_experience"]}}</td>
            <td><img src="{{pokemon_info['front_shiny_url']}}"></td>
            <td>{{pokemon_info["attack_stat"]}}</td>
            <td>{{pokemon_info["hp_stat"]}}</td>
            <td>{{pokemon_info["defense_stat"]}}</td>
          </tr>

        </tbody>
      </table>
  {% endif %}
{% endblock %}